<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nuestra Boda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BodaInvitacionApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bilbo&family=Lobster&family=My+Soul&display=swap" rel="stylesheet">
    <!-- Estilos Masonry + AOS + Lightbox -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header id="miHeader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-center box-shadow mb-3">
            <div  class="container justify-content-center">
                <a class="navbar-brand bilbo-regular fs-1" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@ViewBag.Id" data-aos="zoom-out">Nuestra Boda </a>
                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="miCollapse" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#pensa">...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#conteo">Conteo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#padrinos">Nuestros padrinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#padres">Nuestros padres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cerem">Ceremonia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#salon">Salón</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#agenda">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pases">Mis pases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#confirmar">Confirmar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - OSJO Invitaciones - <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@ViewBag.Id">Inicio</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JS de Lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JS de AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    // Ejemplo simple para validar Bootstrap 5 (opcional)
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()

    AOS.init({
      duration: 800,   // duración de la animación
      once: false       // solo se anima una vez
    });
    lucide.createIcons();
    //AOS.init();
</script>

