@{
    Layout = "_Layout";
}
<div class="col-12 mb-3 espacio-header-agradecimiento text-center" data-aos="zoom-out">
    <div class="containerSound">
        <h2 class="display-1 bilbo-regular">Tu respuesta ha sido registrada. </h2>
        <p class="display-6 bilbo-regular">Sabemos que no podrás acompañarnos, pero nos alegra contar con tu cariño y apoyo. ❤️</p>
    </div>
</div>
