@{
    Layout = "_Layout";
}
<div class="col-12 mb-3 espacio-header-agradecimiento text-center" data-aos="zoom-out">
    <div class="containerSound">
        <h2 class="display-1 bilbo-regular">¡Gracias por confirmar tu asistencia!</h2>
        <p class="display-6 bilbo-regular">Nos encantará verte en la boda ❤️</p>
    </div>
</div>

