html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    /* margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: felx;
    justify-content: center;
    align-items: center;
    background: linear-gradient(249deg, #12c2e9, #c471ed, #f64f59);
    background-size: 600% 600%;
    animation: animateBackground 30s ease infinite;*/
}



header {
    position: fixed; /* Mantiene el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    color: white; /* Color del texto */
    z-index: 1000; /* Se asegura que esté por encima del contenido */
    padding: 10px 20px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/*ESTILO param TITULO navbar-brand*/
.navbar-light .navbar-brand {
    color: white; /* Negro por defecto */
    transition: color 0.3s ease; /* Suaviza el cambio */
}

    .navbar-light .navbar-brand:hover {
        color: rgba(255, 215, 0, 1); /* Dorado al hacer hover */
    }

/*ESTILO PARA nav-link*/
.navbar-light .navbar-nav .nav-link {
    color: white; /* negro por defecto */
    transition: color 0.3s ease; /* transición suave */
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(255, 215, 0, 1); /* dorado al hacer hover */
    }

.navbar-toggler-icon{
    color: white;
}

.containerSound {
    height: auto;
    width: auto;
    background: rgba(255,255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
}

    .containerSound .img-container {
        width: auto;
        height: auto;
        position: relative;
        /*top: -30px;*/
    }

        .containerSound .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
        }

.containerSound .progressBar {
        background: #fff;
        border-radius: 5px;
        cursor: pointer;
        /*margin: 40px 20px;*/
        /*width: 100px;*/
        height: 8px;
    }

.containerSound .progressBar .progress{
        background: #242323;
        border-radius: 5px;
        width: 0px;
        height: 8px;
        transition: width 0.1s linear;
    }

    .containerSound .progressBar .duracion {
        position: relative;
        top: -25px;
        display: flex;
        justify-content: space-between;

    }

/*.containerSound .controles{
        position: relative;
        top: -15px;
        left: 95px;
        width: 200px;
    }

    .containerSound .controles i{
        font-size: 30px;
        color: #010101;
        margin-right: 30px;
        cursor: pointer;
        user-select: none;  
    }*/

.borde-degradado {
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    display: block;
}

.degradado-superior-derecha {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%), linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
    -webkit-mask-composite: intersect;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%), linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
    mask-composite: intersect;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.img_sinBorde {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: none; 
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.my-soul-regular {
    font-family: "My Soul", cursive;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bilbo-regular {
    font-family: "Bilbo", cursive;
    font-weight: 400;
    font-style: normal;
}

.text-gold {
    color: goldenrod;
}


.texto-sobre-imagen {
    position: absolute;
    bottom: 250px;
    /*top: 150px;*/
    left: 0;
    width: 100%;
    color: white;
    z-index: 2;
    text-align: center;
}

/*.texto-sobre-imagen-2 {
    position: absolute;
    bottom: 300px;
    left: 0;
    width: 100%;
    color: white;
    z-index: 2;
    text-align: center;
}*/

.espacio-header {
    padding-top: 100px; /* ajusta según la altura de tu header */
}

.espacio-header-agradecimiento {
    padding-top: 200px; /* ajusta según la altura de tu header */
}

/* Para pantallas de máximo 768px (móviles y tablets) */
@media screen and (max-width: 768px) {
    .texto-sobre-imagen {
        max-height: 988px;
        bottom: 30px; /* o lo que necesites */
    }

    .texto-sobre-imagen-2 {
        max-height: 98px;
        bottom: 10px; /* o lo que necesites */
    }
}

.texto-sobre-imagen h1 {
    font-size: 5rem; /* Super grande */
    margin: 0;
    font-weight: bold;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-bg {
    background-color: white;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
    font-family: "Lobster", sans-serif;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
/*        text-transform: uppercase;*/
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #3b434a;
        position: relative;
        z-index: 2;
    }

    .section-title span {
        position: absolute;
        top: 30px;
        color: #eef0f2;
        left: 0;
        right: 0;
        z-index: 1;
        font-weight: 700;
        font-size: 52px;
        /*text-transform: uppercase;*/
        line-height: 0;
    }

    .section-title p {
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
    /*Efectos galeria*/
    .masonry {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    /*Efectos itinerario*/
    .timeline::before {
        left: 20px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

        .icon svg {
            width: 20px;
            height: 20px;
        }
}

.section-fondo {
    background-image: url('/imagenes/pngegg (3).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    color: white;
}

.conteo-div {
    border-radius: 20px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.4);
}


/*Efectos galeria*/
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
    max-width: 1200px;
    margin: 0 auto;
}

    .masonry a img {
        width: 100%;
        display: block;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .masonry a img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    }

/*Estilos para itinerario*/
.timeline {
    /*max-width: 600px;*/
    margin: 0 auto;
    position: relative;
}

    /* Línea vertical */
.timeline {
    max-width: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Línea vertical centrada */
    .timeline::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #ccc;
        transform: translateX(-50%);
    }

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    position: relative;
}

.icon {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

    .icon svg {
        width: 24px;
        height: 24px;
        color: #555;
    }

.content h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.content p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #555;
}

:root {
    --img-width: 300px;
    --img-height: 200px;
}

.galeria-img {
    width: var(--img-width);
    height: var(--img-height);
    object-fit: cover;
}
   
